-
    var menu = [
        {name: "Каталог товаров", link: "#"},
        {name: "Доставка и оплата", link: "#"},
        {name: "Акции и скидки", link: "#"},
        {name: "О компании", link: "#"},
        {name: "Контакты", link: "#"}
    ];
-
    var photos = [
        {img: "img/photo.png", main: true},
        {img: "img/photo1.png", main: false},
        {img: "img/photo.png", main: false},
        {img: "img/photo1.png", main: false},
        {img: "img/photo.png", main: false},
        {img: "img/photo1.png", main: false},
        {img: "img/imgMainDescr.png", main: false},
        {img: "img/photo.png", main: false},
        {img: "img/photo.png", main: false},
        {img: "img/photo.png", main: false},
        {img: "img/photo.png", main: false},
        {img: "img/photo.png", main: false},
        {img: "img/photo.png", main: false},
        {img: "img/photo.png", main: false},
        {img: "img/photo.png", main: false},
    ];
-
    var visitPageItem = [
        {link: "#", img: "img/image99.webp", title: "Фурнитура для мягкой мебели"},
        {link: "#", img: "img/test.webp", title: "Фурнитура"}
    ]
mixin navItem(mobile)
    ul.nav-ul.d-flex.justify-content-between.align-items-center.w-100.list-unstyled(class= mobile ? "flex-column" : "flex-row")
        for inner in menu
            li.nav-li
                if inner.name === "Каталог товаров"
                    a.nav-link(href=inner.link).d-flex.align-items-center
                        img(src="img/iconCatalog.svg")
                        span=inner.name
                else
                    a.nav-link(href=inner.link).d-flex.align-items-center
                        span=inner.name
mixin visitItems
    - for (var x = 0; x < 8; x++)
        .col-lg-6.col-md-6.col-sm-10.col-10
            a(href= visitPageItem[0].title).main-visit-card.d-flex.justify-content-center.flex-column.align-items-center
                .main-visit-card-img
                    img(src= visitPageItem[1].img)
                .main-visit-card-title= visitPageItem[0].title
                .main-visit-card-text.d-flex.align-items-center.justify-content-center
                    span.mr-2 Посмотреть товары
                    <svg width="17" height="8" viewBox="0 0 17 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.3536 4.35355C16.5488 4.15829 16.5488 3.84171 16.3536 3.64645L13.1716 0.464467C12.9763 0.269205 12.6597 0.269205 12.4645 0.464467C12.2692 0.659729 12.2692 0.976312 12.4645 1.17157L15.2929 4L12.4645 6.82843C12.2692 7.02369 12.2692 7.34027 12.4645 7.53553C12.6597 7.7308 12.9763 7.7308 13.1716 7.53554L16.3536 4.35355ZM-4.37114e-08 4.5L16 4.5L16 3.5L4.37114e-08 3.5L-4.37114e-08 4.5Z" fill="#1B1717"/>
                    </svg>
mixin specItems
    - for (var x = 0; x < 4; x++)
        .col-lg-6.col-md-6.col-sm-10
            a(href="#").main-spec-block.d-block
                .main-spec-img(style="background-image: url('img/specMain.png')")
                .d-flex.flex-column.align-items-start.main-spec-block-text
                    .main-spec-date с 25.01.2021 по 31.01.2021
                    .main-spec-text Акция: Весь февраль -10% на фурнитуру, кухонные лотки и аксессуары

mixin breadCrumbs(pageArray)
    .container
        ul.nexus-breadCrumbs.d-flex
            for inner in pageArray
                if inner.currentPage
                    li.active
                        a(href="#")= inner.page
                else
                    li.d-flex.align-items-center
                        a(href="#").mr-2= inner.page
                        <svg width="8" height="8" class="mr-2" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L7 7L1 13" stroke="#1B1717" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="bevel"/>
                        </svg>
mixin catalogCards(col)
    .row
        - for (var x = 0; x < 8; x++)
            div(class=`col-lg-${col} col-md-6 col-sm-6`)
                .catalog-card
                    .catalog-img
                        img(src="img/catalogItem.png")
                    .d-flex.flex-column
                        .catalog-title Пуговицы мебельные акриловые
                        .catalog-article Артикул: 32967
                        .catalog-price 120 руб.
mixin catalogLeftMenu(id, title)
    .catalog-leftMenu
        button.catalog-leftMenu-btn(data-target=`#${id}` data-toggle="collapse")
                span= title
                <svg width="6.75" height="12" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7 7L1 13" stroke="#999999" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="bevel"/>
                </svg>


    .catalog-leftMenu-block(id= id class="collapse")
        .d-flex.catalog-leftMenu-item.d-flex.flex-column
            - for (var x = 0; x < 8; x++)
                label(for=`${id}${x}`)
                    input(type="checkbox" id=`${id}${x}`)
                    span.catalog-leftMenu-text Текст
                    span.catalog-leftMenu-price (11)

mixin pagination(all)
    .catalog-pagination.d-flex.justify-content-between.flex-md-row.flex-column-reverse
        .catalog-pagination-text Показано 1 - 12 из 245 товаров
        .catalog-pagination-block.d-flex.align-items-center
            .catalog-pagination-arrow
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 13L1 7L7 1" stroke="#1B1717" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="bevel"/>
                </svg>
            .d-flex
                - for (var x = 0; x < 5; x++)
                    if x === 0
                        .catalog-pagination-btn.active
                            span= x
                    else if x === 4
                        .catalog-pagination-btn
                            span ...
                    else
                        .catalog-pagination-btn
                            span= x
            .catalog-pagination-arrow
                <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L7 7L1 13" stroke="#1B1717" stroke-width="1.5" stroke-miterlimit="10" stroke-linejoin="bevel"/>
                </svg>
mixin detailPhotoBlock
    .row.flex-md-row.flex-column-reverse
        .col-lg-2.col-md-3
            .d-flex.flex-column.detail-img-small-block
                for inner in photos
                    if inner.main === false
                        .detail-img-small.js-detail-smallImg
                            img(src= inner.img)
        .col-lg-10.col-md-9
            for inner in photos
                if inner.main === true
                    .detail-img-big.js-detail-bigImg
                        img(src= inner.img)
mixin carousel(instanseClass)
    .container
        .detail-title.text-center Похожие товары

        .owl-theme(class=instanseClass)
                - for (var x = 0; x < 8; x++)
                    .carousel-item-card.d-flex.flex-column.align-items-center.justify-content-center
                        .carousel-item-img
                            if x === 2
                                img(src="img/carouselImg.png")

                            else
                                img(src="img/carouselItem2.png")
                        .detail-tab-content-firstText.text-center Пуговицы мебельные акриловые
                        .detail-tab-content-text Артикул: 32967
                        .carousel-item-card-price 120 руб.

mixin aboutItems
    - for (var x = 0; x < 3; x++)
        .d-flex.flex-column.about-item
            .about-count= `0${x}`
            .about-item-title Примем заказ онлайн сразу приступим к работам
            .about-item-text Вам не нужно тратить время на поиск и доставку материала до нас. На нашем складе в наличии и под заказ имеется  ведущих производителей, что значительно сокращает время обработки заказа. От вас необходимы только размеры, выбор материала и оплата заказа



