-
    var footerLinks = [
        {name: "О нас", link: "#"},
        {name: "Новости", link: "#"},
        {name: "Доставка и оплата", link: "#"},
        {name: "Акции и скидки", link: "#"},
    ]






footer.footer
    .container.footer-border
        .row
            .col-lg-3.col-md-2.mb-5.mb-md-0
                .footer-logo
                    img(src="img/footerLogo.svg")
            .col-lg-3.col-md-3.col-6.mb-5.mb-md-0
                .d-flex.flex-column
                    .footer-title
                        span контакты
                    for inner in footerLinks
                        a.footer-link(href=inner.link)=inner.name
            .col-lg-3.col-md-3.col-6.mb-5.mb-md-0
                .d-flex.flex-column
                    .footer-title
                        span Компания
                    for inner in footerLinks
                        a.footer-link(href=inner.link)=inner.name
            .col-lg-3.col-md-3
                .d-flex.flex-column
                    .footer-title
                        span Контакты
                    a(href="#").footer-link-href.d-flex.align-items-center
                        <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.1717 11.7285L10.1724 11.7288C10.2041 11.7453 10.2365 11.7619 10.2693 11.7787C10.323 11.8063 10.3779 11.8345 10.4328 11.8636L11.607 10.6931C11.9985 10.3016 12.459 10.0934 12.9416 10.0934C13.4281 10.0934 13.885 10.3055 14.2614 10.6973C14.2615 10.6974 14.2616 10.6975 14.2618 10.6976L16.3465 12.79C16.3466 12.79 16.3466 12.79 16.3466 12.79C16.7384 13.178 16.9464 13.6424 16.9464 14.1286C16.9464 14.6107 16.7424 15.0785 16.3589 15.4776C16.3589 15.4776 16.3588 15.4777 16.3588 15.4777L16.3228 15.443C16.1594 15.614 15.9922 15.7774 15.8289 15.9331L10.1717 11.7285ZM10.1717 11.7285C10.0345 11.6599 9.9076 11.5964 9.79981 11.5295C8.68068 10.8186 7.66279 9.89184 6.68563 8.69126C6.22283 8.10625 5.90977 7.61335 5.68145 7.11648C5.95385 6.86574 6.20901 6.60681 6.45626 6.3559C6.4835 6.32826 6.51063 6.30072 6.53769 6.2733C6.59101 6.21998 6.6443 6.16574 6.69741 6.11168L6.6975 6.11159C6.75071 6.05742 6.80375 6.00345 6.85675 5.95044C7.26342 5.54377 7.46974 5.07377 7.46974 4.60062C7.46974 4.12748 7.26342 3.65748 6.85675 3.25081L5.81962 2.21367C5.70174 2.0958 5.58075 1.9748 5.46743 1.85392L5.46743 1.85392L5.46688 1.85335C5.23901 1.61789 4.99908 1.37412 4.75128 1.14535C4.37478 0.773003 3.9221 0.573047 3.44406 0.573047C2.9659 0.573047 2.50561 0.773101 2.11777 1.14543L2.11776 1.14543L2.11704 1.14615L2.11702 1.14617L2.11699 1.14619L2.11697 1.14621L2.11695 1.14624L2.11693 1.14626L2.11691 1.14628L2.11688 1.1463L2.11686 1.14632L2.11684 1.14635L2.11682 1.14637L2.1168 1.14639L2.11678 1.14641L2.11676 1.14643L2.11673 1.14645L2.11671 1.14647L2.11669 1.14649L2.11667 1.14651L2.11665 1.14654L2.11663 1.14656L2.11661 1.14658L2.11659 1.1466L2.11657 1.14662L2.11655 1.14664L2.11653 1.14666L2.11651 1.14668L2.11649 1.1467L2.11647 1.14672L2.11645 1.14674L2.11643 1.14676L2.11641 1.14678L2.11639 1.1468L2.11637 1.14682L2.11635 1.14684L2.11633 1.14686L2.11631 1.14688L2.11629 1.1469L2.11627 1.14692L2.11625 1.14693L2.11623 1.14695L2.11621 1.14697L2.11619 1.14699L2.11618 1.14701L2.11616 1.14703L2.11614 1.14705L2.11612 1.14707L2.1161 1.14709L2.11608 1.1471L2.11606 1.14712L2.11605 1.14714L2.11603 1.14716L2.11601 1.14718L2.11599 1.1472L2.11597 1.14721L2.11595 1.14723L2.11594 1.14725L2.11592 1.14727L2.1159 1.14729L2.11588 1.1473L2.11586 1.14732L2.11585 1.14734L2.11583 1.14736L2.11581 1.14737L2.11579 1.14739L2.11578 1.14741L2.11576 1.14743L2.11574 1.14744L2.11573 1.14746L2.11571 1.14748L2.11569 1.1475L2.11567 1.14751L2.11566 1.14753L2.11564 1.14755L2.11562 1.14756L2.11561 1.14758L2.11559 1.1476L2.11557 1.14761L2.11556 1.14763L2.11554 1.14765L2.11552 1.14766L2.11551 1.14768L2.11549 1.1477L2.11547 1.14771L2.11546 1.14773L2.11544 1.14774L2.11543 1.14776L2.11541 1.14778L2.11539 1.14779L2.11538 1.14781L2.11536 1.14782L2.11535 1.14784L2.11533 1.14786L2.11531 1.14787L2.1153 1.14789L2.11528 1.1479L2.11527 1.14792L2.11525 1.14793L2.11524 1.14795L2.11522 1.14797L2.11521 1.14798L2.11519 1.148L2.11518 1.14801L2.11516 1.14803L2.11514 1.14804L2.11513 1.14806L2.11511 1.14807L2.1151 1.14809L2.11508 1.1481L2.11507 1.14812L2.11506 1.14813L2.11504 1.14815L2.11503 1.14816L2.11501 1.14818L2.115 1.14819L2.11498 1.1482L2.11497 1.14822L2.11495 1.14823L2.11494 1.14825L2.11492 1.14826L2.11491 1.14828L2.1149 1.14829L2.11488 1.14831L2.11487 1.14832L2.11485 1.14833L2.11484 1.14835L2.11482 1.14836L2.11481 1.14838L2.1148 1.14839L2.11478 1.1484L2.11477 1.14842L2.11475 1.14843L2.11474 1.14845L2.11473 1.14846L2.11471 1.14847L2.1147 1.14849L2.11469 1.1485L2.11467 1.14851L2.11466 1.14853L2.11465 1.14854L2.11463 1.14855L2.11462 1.14857L2.11461 1.14858L2.11459 1.14859L2.11458 1.14861L2.11457 1.14862L2.11455 1.14863L2.11454 1.14865L2.11453 1.14866L2.11451 1.14867L2.1145 1.14869L2.11449 1.1487L2.11447 1.14871L2.11446 1.14873L2.11445 1.14874L2.11443 1.14875L2.11442 1.14876L2.11441 1.14878L2.1144 1.14879L2.11438 1.1488L2.11437 1.14882L2.11436 1.14883L2.11435 1.14884L2.11433 1.14885L2.11432 1.14887L2.11431 1.14888L2.11429 1.14889L2.11428 1.1489L2.11427 1.14892L2.11426 1.14893L2.11424 1.14894L2.11423 1.14895L2.11422 1.14897L2.11421 1.14898L2.1142 1.14899L2.11418 1.149L2.11417 1.14902L2.11416 1.14903L2.11415 1.14904L2.11413 1.14905L2.11412 1.14906L2.11411 1.14908L2.1141 1.14909L2.11409 1.1491L2.11407 1.14911L2.11406 1.14912L2.11405 1.14914L2.11404 1.14915L2.11403 1.14916L2.11401 1.14917L2.114 1.14918L2.11399 1.1492L2.11398 1.14921L2.11397 1.14922L2.11395 1.14923L2.11394 1.14924L2.11393 1.14926L2.11392 1.14927L2.11391 1.14928L2.1139 1.14929L2.11388 1.1493L2.11387 1.14931L2.11386 1.14933L2.11385 1.14934L2.11384 1.14935L2.11383 1.14936L2.11381 1.14937L2.1138 1.14938L2.11379 1.1494L2.11378 1.14941L2.11377 1.14942L2.11376 1.14943L2.11375 1.14944L2.11373 1.14945L2.11372 1.14946L2.11371 1.14948L2.1137 1.14949L2.11369 1.1495L2.11368 1.14951L2.11367 1.14952L2.11365 1.14953L2.11364 1.14954L2.11363 1.14956L2.11362 1.14957L2.11361 1.14958L2.1136 1.14959L2.11359 1.1496L2.11357 1.14961L2.11356 1.14962L2.11355 1.14963L2.11354 1.14965L2.11353 1.14966L2.11352 1.14967L2.11351 1.14968L2.1135 1.14969L2.11348 1.1497L2.11347 1.14971L2.11346 1.14972L2.11345 1.14974L2.11344 1.14975L2.11343 1.14976L2.11342 1.14977L2.11341 1.14978L2.1134 1.14979L2.11338 1.1498L2.11337 1.14981L2.11336 1.14982L2.11335 1.14984L2.11334 1.14985L2.11333 1.14986L2.11332 1.14987L2.11331 1.14988L2.11329 1.14989L2.11328 1.1499L2.11327 1.14991L2.11326 1.14992L2.11325 1.14994L2.11324 1.14995L2.11323 1.14996L2.11322 1.14997L2.11321 1.14998L2.11319 1.14999L2.11318 1.15L2.11317 1.15001L2.11316 1.15003L2.11315 1.15004L2.11314 1.15005L2.11313 1.15006L2.11312 1.15007L2.11311 1.15008L2.11309 1.15009L2.11308 1.1501L2.11307 1.15011L2.11306 1.15013L2.11305 1.15014L2.11304 1.15015L2.11303 1.15016L2.11302 1.15017L2.113 1.15018L2.11299 1.15019L2.11298 1.1502L2.11297 1.15022L2.11296 1.15023L2.11295 1.15024L2.11294 1.15025L2.11293 1.15026L2.11292 1.15027L2.1129 1.15028L2.11289 1.15029L2.11288 1.15031L2.11287 1.15032L2.11286 1.15033L2.11285 1.15034L2.11284 1.15035L2.11282 1.15036L2.11281 1.15037L2.1128 1.15038L2.11279 1.1504L2.11278 1.15041L2.11277 1.15042L2.11276 1.15043L2.11274 1.15044L2.11273 1.15045L2.11272 1.15046L2.11271 1.15048L2.1127 1.15049L2.11269 1.1505L2.11268 1.15051L2.11266 1.15052L2.11265 1.15053L2.11264 1.15055L2.11263 1.15056L2.11262 1.15057L2.11261 1.15058L2.11259 1.15059L2.11258 1.1506L2.11257 1.15062L2.11256 1.15063L2.11255 1.15064L2.11254 1.15065L2.11252 1.15066L2.11251 1.15067L2.1125 1.15069L2.11249 1.1507L2.11248 1.15071L2.11246 1.15072L2.11245 1.15073L2.11244 1.15075L2.11243 1.15076L2.11242 1.15077L2.1124 1.15078L2.11239 1.15079L2.11238 1.15081L2.11237 1.15082L2.11236 1.15083L2.11234 1.15084L2.11233 1.15085L2.11232 1.15087L2.11231 1.15088L2.1123 1.15089L2.11228 1.1509L2.11227 1.15092L2.11226 1.15093L2.11225 1.15094L2.11223 1.15095L2.11222 1.15097L2.11221 1.15098L2.1122 1.15099L2.11218 1.151L2.11217 1.15102L2.11216 1.15103L2.11215 1.15104L2.11213 1.15105L2.11212 1.15107L2.11211 1.15108L2.1121 1.15109L2.11208 1.1511L2.11207 1.15112L2.11206 1.15113L2.11204 1.15114L2.11203 1.15116L2.11202 1.15117L2.112 1.15118L2.11199 1.15119L2.11198 1.15121L2.11197 1.15122L2.11195 1.15123L2.11194 1.15125L2.11193 1.15126L2.11191 1.15127L2.1119 1.15129L2.11189 1.1513L2.11187 1.15131L2.11186 1.15133L2.11185 1.15134L2.11183 1.15135L2.11182 1.15137L2.11181 1.15138L2.11179 1.15139L2.11178 1.15141L2.11176 1.15142L2.11175 1.15144L2.11174 1.15145L2.11172 1.15146L2.11171 1.15148L2.1117 1.15149L2.11168 1.1515L2.11167 1.15152L2.11165 1.15153L2.11164 1.15155L2.11163 1.15156L2.11161 1.15157L2.1116 1.15159L2.11158 1.1516L2.11157 1.15162L2.11155 1.15163L2.11154 1.15165L2.11153 1.15166L2.11151 1.15168L2.1115 1.15169L2.11148 1.1517L2.11147 1.15172L2.11145 1.15173L2.11144 1.15175L2.11142 1.15176L2.11141 1.15178L2.11139 1.15179L2.11138 1.15181L2.11136 1.15182L2.11135 1.15184L2.11133 1.15185L2.11132 1.15187L2.1113 1.15188L2.11129 1.1519L2.11127 1.15191L2.11126 1.15193L2.11124 1.15194L2.11123 1.15196L2.11121 1.15198L2.1112 1.15199L2.11118 1.15201L2.11116 1.15202L2.11115 1.15204L2.11113 1.15205L2.11112 1.15207L2.1111 1.15209L2.11109 1.1521L2.11107 1.15212L2.11105 1.15213L2.11104 1.15215L2.11102 1.15217L2.111 1.15218L2.11099 1.1522L2.11097 1.15221L2.11096 1.15223L2.11094 1.15225L2.11092 1.15226L2.11091 1.15228L2.11089 1.1523L2.11087 1.15231L2.11086 1.15233L2.11084 1.15235L2.11082 1.15236L2.1108 1.15238L2.11079 1.1524L2.11077 1.15242L2.11075 1.15243L2.11074 1.15245L2.11072 1.15247L2.1107 1.15248L2.11068 1.1525L2.11067 1.15252L2.11065 1.15254L2.11063 1.15255L2.11061 1.15257L2.1106 1.15259L2.11058 1.15261L2.11056 1.15263L2.11054 1.15264L2.11052 1.15266L2.11051 1.15268L2.11049 1.1527L2.11047 1.15272L2.11045 1.15273L2.11043 1.15275L2.11041 1.15277L2.1104 1.15279L2.11038 1.15281L2.11036 1.15283L2.11034 1.15285L2.11032 1.15286L2.1103 1.15288L2.11028 1.1529L2.11026 1.15292L2.11025 1.15294L2.11023 1.15296L2.11021 1.15298L2.11019 1.153L2.11017 1.15302L2.11015 1.15304L2.11013 1.15306L2.11011 1.15308L2.11009 1.1531L2.11007 1.15312L2.11005 1.15314L2.11003 1.15316L2.11001 1.15318L2.10999 1.1532L2.10997 1.15322L2.10995 1.15324L2.10993 1.15326L2.10991 1.15328L2.10989 1.1533L2.10987 1.15332L2.10985 1.15334L2.10983 1.15336L2.10981 1.15338L2.10979 1.1534L2.10976 1.15342L2.10974 1.15344L2.10972 1.15346L2.1097 1.15349L2.10968 1.15351L2.10966 1.15353L2.10964 1.15355L2.10962 1.15357L2.10959 1.15359L2.10957 1.15361L2.10955 1.15364L2.10953 1.15366L2.10951 1.15368L2.10948 1.1537L2.10946 1.15372L2.10944 1.15375L2.10929 1.1539L0.817772 2.45681C0.817743 2.45684 0.817714 2.45687 0.817685 2.4569C0.323168 2.95145 0.0407491 3.55503 -0.0210661 4.25431L-0.0210922 4.25462C-0.113203 5.3753 0.216823 6.41719 0.468134 7.09497C1.08589 8.76137 2.00845 10.3048 3.38283 11.9571L3.38293 11.9572C5.05135 13.9494 7.05904 15.5229 9.35258 16.6316L9.35292 16.6317C10.2279 17.0464 11.4013 17.54 12.7143 17.6242L12.7151 17.6242C12.7947 17.628 12.8795 17.6319 12.9568 17.6319C13.8478 17.6319 14.5983 17.3111 15.1856 16.6736L15.1871 16.675L15.1918 16.6656L15.1918 16.6655L15.1923 16.6651C15.1944 16.663 15.2 16.6575 15.2051 16.6496C15.3855 16.4314 15.5916 16.2321 15.811 16.0199C15.8284 16.0031 15.8459 15.9862 15.8635 15.9692L10.1717 11.7285ZM15.6178 14.6983C15.6076 14.7095 15.5972 14.7207 15.5864 14.732L15.5857 14.7313V14.6844C15.5895 14.6846 15.5936 14.6852 15.598 14.6866C15.6046 14.6886 15.6117 14.6924 15.6178 14.6983ZM15.5433 14.7033C15.5423 14.7046 15.541 14.7064 15.5397 14.7086C15.422 14.8348 15.3019 14.9516 15.1743 15.0756C15.1458 15.1033 15.1169 15.1314 15.0876 15.1601C14.8407 15.3956 14.5887 15.6437 14.3517 15.9226C13.978 16.3218 13.5396 16.51 12.9606 16.51C12.9033 16.51 12.8442 16.5099 12.7892 16.5063L12.7891 16.5063C11.6708 16.4347 10.6295 15.9977 9.84427 15.6221C7.70062 14.5843 5.81819 13.111 4.25369 11.2435C2.96108 9.68555 2.09816 8.24677 1.52686 6.70312L1.52681 6.70299C1.17509 5.7613 1.04813 5.03196 1.1043 4.34649C1.1413 3.91374 1.30715 3.55628 1.6141 3.24934L2.909 1.95443C3.08925 1.7854 3.27496 1.69878 3.45166 1.69878C3.67093 1.69878 3.8525 1.83161 3.97096 1.95007L3.98236 1.96147L3.98234 1.96149L3.98358 1.96264C4.21435 2.17829 4.43397 2.40168 4.66562 2.64092L4.66563 2.64093C4.72467 2.70188 4.78465 2.76281 4.84494 2.82404L4.84634 2.82547C4.90621 2.88628 4.96639 2.94741 5.02655 3.00945L5.02655 3.00945L5.02709 3.01L6.06422 4.04713C6.26082 4.24373 6.3516 4.42549 6.3516 4.60062C6.3516 4.77576 6.26082 4.95752 6.06422 5.15412C6.02691 5.19143 5.99026 5.22851 5.95387 5.26533C5.88195 5.33809 5.81105 5.40982 5.73813 5.48022L5.73812 5.4802L5.73709 5.48125C5.41817 5.80777 5.11518 6.11073 4.78593 6.40592L4.78588 6.40587L4.78395 6.4078L4.78154 6.40995L4.77585 6.41469C4.77231 6.41772 4.76636 6.42301 4.76089 6.43088C4.59293 6.60041 4.52202 6.77067 4.50371 6.9289C4.4854 7.08705 4.52016 7.22898 4.55509 7.33958L4.55508 7.33958L4.55533 7.34033L4.56673 7.37453L4.56661 7.37457L4.56794 7.37779C4.83994 8.0367 5.22262 8.65612 5.80197 9.39174L5.80169 9.39195L5.80589 9.39615L5.80786 9.39812C6.8588 10.6924 7.96775 11.7024 9.19185 12.4765C9.34975 12.5766 9.51118 12.6573 9.66256 12.733L9.6635 12.7335C9.8008 12.8021 9.92776 12.8656 10.0356 12.9326L10.0355 12.9328L10.0396 12.9348C10.0447 12.9374 10.0502 12.9408 10.0583 12.9458L10.059 12.9463C10.0661 12.9507 10.0754 12.9565 10.0852 12.9614C10.2204 13.029 10.3495 13.0617 10.4837 13.0617C10.8197 13.0617 11.0297 12.8516 11.0959 12.7855L11.0965 12.7849L12.3957 11.4856C12.5227 11.3587 12.7154 11.2153 12.934 11.2153C13.1487 11.2153 13.33 11.3512 13.4441 11.4764L13.4441 11.4764L13.4457 11.478L13.4533 11.4856L13.4887 11.4503L13.4533 11.4856L15.5466 13.5789L15.5468 13.5791C15.7366 13.7671 15.8255 13.9517 15.8259 14.1325C15.8263 14.3116 15.7401 14.498 15.5558 14.6916C15.5517 14.6944 15.5472 14.6982 15.5433 14.7033Z"  stroke-width="0.1"/>
                        </svg>
                        span.ml-2.footer-link +7 (123) 456 78 90
                    a(href="#").footer-link-href.d-flex.align-items-center
                        <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.418 0.144531H1.58203C0.710789 0.144531 0 0.854547 0 1.72656V12.2734C0 13.1425 0.707625 13.8555 1.58203 13.8555H16.418C17.287 13.8555 18 13.1478 18 12.2734V1.72656C18 0.8575 17.2924 0.144531 16.418 0.144531ZM16.1995 1.19922L9.03354 8.36522L1.80559 1.19922H16.1995ZM1.05469 12.055V1.93993L6.13403 6.97571L1.05469 12.055ZM1.80046 12.8008L6.883 7.71824L8.66391 9.48386C8.87006 9.68826 9.20275 9.68759 9.40806 9.48224L11.1445 7.74577L16.1995 12.8008H1.80046ZM16.9453 12.055L11.8903 7L16.9453 1.94495V12.055Z" />
                        </svg>
                        span.ml-2.footer-link dev@bytec.ru
    .container
        .d-flex.justify-content-between.flex-sm-row.flex-column-reverse
            .footer-copy-right.text-center.text-sm-left
                span.footer-text © 2021 All rights reserved.
            .d-flex.align-items-center.flex-column.flex-sm-row
                .footer-text-block
                    a(href="#").footer-text.footer-distance-sm Условия использования
                    a(href="#").footer-text.footer-distance-lg Политика конфиденциальности
                .footer-social-block
                    a(href="#").mr-5
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M15.4915 10.3837C16.0886 10.9667 16.7188 11.5151 17.2543 12.1569C17.4909 12.442 17.7148 12.7363 17.8862 13.0673C18.129 13.5377 17.9091 14.0554 17.4872 14.0835L14.8649 14.0823C14.1886 14.1384 13.6491 13.8662 13.1954 13.4037C12.8323 13.0339 12.4961 12.6404 12.147 12.2581C12.0039 12.1018 11.8541 11.9548 11.6751 11.8386C11.3172 11.6062 11.0064 11.6774 10.8019 12.0507C10.5935 12.4305 10.5462 12.8509 10.5258 13.2742C10.4977 13.8916 10.311 14.054 9.69078 14.0823C8.36522 14.1448 7.10719 13.9442 5.93849 13.2755C4.90813 12.686 4.10917 11.8538 3.4137 10.9116C2.05973 9.07706 1.0228 7.06113 0.0908769 4.98874C-0.1189 4.52183 0.0345215 4.2712 0.549701 4.26231C1.40516 4.24568 2.26051 4.24688 3.11699 4.26111C3.46468 4.26621 3.69485 4.46562 3.82911 4.79408C4.29194 5.93213 4.85828 7.01487 5.56914 8.01847C5.75845 8.28566 5.95149 8.55288 6.22635 8.74093C6.53045 8.94916 6.76199 8.88015 6.90504 8.54139C6.99581 8.32658 7.03557 8.09522 7.05603 7.86519C7.12381 7.07372 7.13274 6.28358 7.01388 5.49489C6.9409 5.00266 6.66365 4.68401 6.17249 4.59088C5.92186 4.54338 5.95916 4.45011 6.08052 4.30706C6.29128 4.06034 6.48953 3.90674 6.88472 3.90674H9.84832C10.3149 3.99881 10.4185 4.20841 10.4824 4.67786L10.4849 7.96978C10.4798 8.1515 10.5757 8.69084 10.903 8.81111C11.165 8.89675 11.3377 8.68715 11.4949 8.52103C12.2045 7.76795 12.7109 6.87793 13.1633 5.95635C13.3641 5.5511 13.5367 5.13028 13.704 4.70978C13.828 4.39777 14.0225 4.24424 14.374 4.25102L17.2263 4.25355C17.3109 4.25355 17.3964 4.25479 17.4783 4.26881C17.959 4.35073 18.0907 4.55748 17.9422 5.02682C17.7083 5.76316 17.2532 6.37682 16.8083 6.99328C16.3326 7.65144 15.8239 8.2871 15.3522 8.94916C14.9188 9.55385 14.9532 9.85859 15.4915 10.3837Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect width="18" height="18" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                    a(href="#").mr-5
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.2 6.2027L12.192 9H10.064V18H6.928V9H4.8V6.2027H6.928V3.40541C6.928 1.45946 8.384 0 10.064 0H12.08V2.7973H11.072C10.512 2.7973 10.064 3.28378 10.064 3.89189V6.2027H13.2Z" fill="white"/>
                        </svg>

                    a(href="#")
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99982 2.44138C11.136 2.44138 11.3888 2.44964 12.2325 2.48806C13.0124 2.52363 13.436 2.65383 13.718 2.76338C14.0915 2.9085 14.3579 3.08189 14.638 3.36166C14.9181 3.64174 15.0915 3.90817 15.2363 4.28161C15.3458 4.5636 15.476 4.98722 15.5116 5.76713C15.55 6.61056 15.5583 6.86365 15.5583 8.99984C15.5583 11.136 15.55 11.3888 15.5116 12.2325C15.476 13.0125 15.3458 13.4361 15.2363 13.7181C15.0911 14.0915 14.9178 14.3579 14.638 14.638C14.3579 14.9181 14.0915 15.0915 13.718 15.2363C13.436 15.3459 13.0124 15.4761 12.2325 15.5116C11.3891 15.55 11.136 15.5583 8.99982 15.5583C6.86363 15.5583 6.61054 15.55 5.76712 15.5116C4.98721 15.4761 4.56359 15.3459 4.2816 15.2363C3.90816 15.0912 3.64173 14.9178 3.36165 14.638C3.08157 14.3579 2.90818 14.0915 2.76338 13.7181C2.65382 13.4361 2.52362 13.0125 2.48806 12.2325C2.44963 11.3891 2.44138 11.136 2.44138 8.99984C2.44138 6.86365 2.44963 6.61088 2.48806 5.76713C2.52362 4.98722 2.65382 4.5636 2.76338 4.28161C2.9085 3.90817 3.08188 3.64174 3.36165 3.36166C3.64173 3.08157 3.90816 2.90819 4.2816 2.76338C4.56359 2.65383 4.98721 2.52363 5.76712 2.48806C6.61086 2.44964 6.86363 2.44138 8.99982 2.44138ZM8.99982 1C6.82712 1 6.55465 1.00921 5.70139 1.04827C4.85002 1.08701 4.26858 1.22229 3.75954 1.42013C3.23336 1.62463 2.78719 1.89805 2.34262 2.34294C1.89804 2.78752 1.62431 3.23368 1.42012 3.75955C1.22229 4.26859 1.08701 4.85003 1.04827 5.7014C1.00921 6.55467 1 6.82713 1 8.99984C1 11.1726 1.00921 11.445 1.04827 12.2983C1.08701 13.1496 1.22229 13.7311 1.42012 14.2401C1.62463 14.7663 1.89804 15.2125 2.34294 15.6571C2.78783 16.102 3.23368 16.3754 3.75986 16.5799C4.26858 16.7777 4.85034 16.913 5.7017 16.9517C6.55497 16.9908 6.82743 17 9.00014 17C11.1728 17 11.4453 16.9908 12.2986 16.9517C13.1499 16.913 13.7317 16.7777 14.2404 16.5799C14.7666 16.3754 15.2128 16.102 15.6573 15.6571C16.1022 15.2122 16.3756 14.7663 16.5802 14.2401C16.778 13.7314 16.9133 13.1496 16.952 12.2983C16.9911 11.445 17.0003 11.1726 17.0003 8.99984C17.0003 6.82713 16.9911 6.55467 16.952 5.7014C16.9133 4.85003 16.778 4.26827 16.5802 3.75955C16.3756 3.23336 16.1022 2.7872 15.6573 2.34262C15.2124 1.89773 14.7666 1.62431 14.2404 1.41981C13.7311 1.22229 13.1496 1.08701 12.2983 1.04827C11.445 1.00921 11.1725 1 8.99982 1ZM9.00024 4.89247C6.73132 4.89247 4.89236 6.73176 4.89236 9.00039C4.89236 11.269 6.73163 13.1083 9.00024 13.1083C11.2688 13.1083 13.1081 11.269 13.1081 9.00039C13.1081 6.73176 11.2692 4.89247 9.00024 4.89247ZM9.00024 11.6669C7.52742 11.6669 6.33374 10.4729 6.33374 9.00039C6.33374 7.52756 7.52774 6.33386 9.00024 6.33386C10.4727 6.33386 11.6667 7.52788 11.6667 9.00039C11.6667 10.4732 10.4731 11.6669 9.00024 11.6669ZM14.2307 4.72933C14.2307 5.25953 13.8009 5.68934 13.2707 5.68934C12.7406 5.68934 12.3108 5.25953 12.3108 4.72933C12.3108 4.19913 12.7406 3.76931 13.2707 3.76931C13.8009 3.76931 14.2307 4.19913 14.2307 4.72933Z" fill="white"/>
                        </svg>


