section.header
    .header-line
        .container
            .d-flex.justify-content-between.align-items-center

                    a(href="index.html").header-logo
                        img(src="img/logo.png" alt="logo")
                    .header-search.d-flex.align-items-center.position-relative
                        input.nexus-input.d-lg-block.d-none(placeholder="Поиск по товарам")
                        buttom.nexus-btn-icon.btn-search.hover-black-btn
                            img(src="img/lupa.svg")
                        .search-block.flex-column.d-none.search-block-desktop
                            input.nexus-input.d-md-none.d-block(placeholder="Поиск по товарам")
                            .overflow-auto
                                - for (var x = 0; x < 8; x++)
                                    .search-block-item.d-flex.align-items-center.justify-content-between
                                        .search-block-img
                                            img(src="img/searchImg.png")
                                        .search-block-title Пуговицы мебельные акриловые
                                        .search-block-price 120 руб.
                            .search-block-resultTitle.d-flex.align-items-center.justify-content-center
                                span Все результаты
                                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 1L5.5 5L1.5 9" stroke="#1B1717" stroke-width="2"/>
                                </svg>
                    .header-geo.d-md-block.d-none
                                img.mr-2(src="img/geo.svg" alt="logo")
                                span Москва
                    a(href="#").header-number.d-md-block.d-none
                        img.mr-2(src="img/callIcon.svg" alt="logo")
                        span 8 (800) 222-15-46
                    .header-feedback_call.nexus-btn-border.d-md-block.d-none.hover-border-btn
                        a(href="#") Обратный звонок
                    .btn-mobile-toggle.d-md-none.d-block
                        <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="2" fill="#1B1717"/>
                        <rect y="8" width="24" height="2" fill="#1B1717"/>
                        <rect class="last-line" x="0" y="16" width="24" height="2" fill="#1B1717"/>
                        </svg>



    .container
        .search-block.flex-column.d-none.mobile-search-block
            .d-flex.close-search-block
                input.nexus-input.d-lg-block(placeholder="Поиск по товарам")
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="2.80762" y="19.7781" width="24" height="2" transform="rotate(-45 2.80762 19.7781)" fill="#999999"/>
                <rect width="24" height="2" transform="matrix(-0.707107 -0.707107 -0.707107 0.707107 21.1924 19.7783)" fill="#999999"/>
                </svg>

            .overflow-auto
                - for (var x = 0; x < 8; x++)
                    .search-block-item.d-flex.align-items-center.justify-content-between
                        .d-flex.align-items-center
                            .search-block-img
                                img(src="img/searchImg.png")
                            .search-block-title Пуговицы мебельные акриловые
                        .search-block-price 120 руб.
            .search-block-resultTitle.d-flex.align-items-center.justify-content-center
                span Все результаты
                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 1L5.5 5L1.5 9" stroke="#1B1717" stroke-width="2"/>
                </svg>
        .d-md-block.d-none
            +navItem
