.mobile-menu
    .d-flex.flex-column.h-75.align-items-center
        +navItem(true)
        .header-geo
            img.mr-2(src="img/geo.svg" alt="logo")
            span Москва
        a(href="#").header-number
            img.mr-2(src="img/callIcon.svg" alt="logo")
            span 8 (800) 222-15-46
        .header-feedback_call.nexus-btn-border
            a(href="#") Обратный звонок
