<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Каталог
    link(type="text/css", href="main.css")
body.notFound-page
    include modules/_mixin
    header
        include modules/header
    main
        .notFound.d-flex.justify-content-center.align-items-center.flex-column
            .notFound-title 404
            .notFound-text.mb-60 Страница, на которую вы хотели перейти, не найдена
            a(href="#").main-visit-card-btn.nexus-btn-border В каталог


    footer
        include modules/footer
