-
    var pageArray = [
        {page: "Главная", currentPage: false},
        {page: "О компании", currentPage: true},
    ]

<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title О компании
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    header
        include modules/header
    main
        +breadCrumbs(pageArray)
        section.delivery
            .container
                .row.justify-content-between
                    .col-lg-6
                        .main-title.text-left Nexus - мировой лидер по производству мебельной фурнитуры.
                    .col-lg-4
                        .about-text Мы работаем с клиентами из разных городов России - Казань, Нижний Новгород, Самара, Уфа, Пенза, Саратов, Чебоксары, Саранск, Нефтекамск, Екатеринбург, Омск, Новосибирск, Красноярск.
        section.about-img-bg
            .container
                .about-img(style="background-image: url('img/aboutImg.png')")
        section.about-bg-black
            .container
                .row.justify-content-between.position-relative
                    .col-lg-5
                        .about-right-block
                            .main-title.text-white.text-left Почему сотрудничество с нами - выгодно:
                    .col-lg-6
                        +aboutItems
        section
            .container.about-info
                .row.justify-content-between
                    .col-lg-5
                        .about-info-block.d-flex.flex-column.align-items-center
                            .about-info-point
                                <svg width="71" height="60" viewBox="0 0 71 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path opacity="0.06" fill-rule="evenodd" clip-rule="evenodd" d="M70.6886 9.37093C60.1011 14.577 54.8074 20.6941 54.8074 27.7223C59.3201 28.243 63.0517 30.0868 66.0024 33.2538C68.953 36.4208 70.4283 40.0867 70.4283 44.2516C70.4283 48.6768 68.9964 52.4078 66.1325 55.4447C63.2687 58.4816 59.6672 60 55.3281 60C50.4682 60 46.2593 58.0261 42.7011 54.0781C39.143 50.1301 37.364 45.3363 37.364 39.6963C37.364 22.7765 46.8232 9.54452 65.742 0L70.6886 9.37093ZM33.3246 9.37093C22.6503 14.577 17.3132 20.6941 17.3132 27.7223C21.9127 28.243 25.6877 30.0868 28.6384 33.2538C31.589 36.4208 33.0643 40.0867 33.0643 44.2516C33.0643 48.6768 31.6107 52.4078 28.7034 55.4447C25.7962 58.4816 22.1731 60 17.8339 60C12.974 60 8.78679 58.0261 5.27206 54.0781C1.75734 50.1301 0 45.3363 0 39.6963C0 22.7765 9.41585 9.54452 28.2478 0L33.3246 9.37093Z" fill="#1B1717"/>
                                </svg>

                            .about-info-text Качество и сроки для нас — главные приоритеты. Качество, функциональность и дизайн мебельной фурнитуры.
                            .d-flex
                                img.about-info-avatar(src="img/avatar.png")
                                .d-flex.flex-column
                                    .about-avatar-title Кириченко Владислав
                                    .about-avatar-text Основатель
                    .col-lg-6
                        .about-info-img(style="background-image: url('img/aboutInfo.png')")



    footer
        include modules/footer
