-
    var pageArray = [
        {page: "Главная", currentPage: false},
        {page: "Спец предложения", currentPage: false},
        {page: "Весь февраль -10% на фурнитуру, кухонные лотки и аксессуары", currentPage: true}
    ]

<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Акции
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    header
        include modules/header
    main
        +breadCrumbs(pageArray)
        section.action-distance
            .container
                .row.justify-content-center
                    .col-lg-10
                        img.action-img(src="img/actionImg.png")
                .row.justify-content-center.action-distance-block
                    .col-lg-8
                        .action-title Весь февраль -10% на фурнитуру, кухонные лотки и аксессуары
                        .action-date.text-center с 01.02.2021 по 28.02.2021
                        .detail-tab-content-text.mb-5 <span class="bold">Cкидка 10% </span>на фурнитуру и кухонные комплектующие из разделов (и входящие в них подразделы): Мебельная фурнитура, Лотки для столовых приборов, Аксессуары для кухни.

                        .detail-tab-content-firstText Успейте купить фурнитуру по выгодной цене в феврале!
                .row.justify-content-center
                    .col-lg-3.col-md-4.col-sm-6.mb-sm-0.mb-3
                        .d-flex.justify-content-center.black-bg.hover-black-btn
                            a(href="#").main-visit-card-btn.nexus-btn-border Посмотреть товары
                    .col-lg-3.col-md-4.col-sm-6.action-btn
                        .d-flex.justify-content-center
                            a(href="#").main-visit-card-btn.nexus-btn-border.hover-border-btn Получить прайс




    footer
        include modules/footer
