-
    var pageArray = [
        {page: "Главная", currentPage: false},
        {page: "Каталог", currentPage: false},
        {page: "Пуговицы под обтяжку тканью", currentPage: true}
    ]

<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Каталог
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    #menu
        include modules/mobileMenu
    #panel
        header
            include modules/header
        main
            +breadCrumbs(pageArray)
            section
                .container
                    .main-title.text-left Пуговицы под обтяжку тканью
            section
                .container
                    .row.catalog
                        .col-lg-3.col-md-3
                            .d-flex.flex-column
                                +catalogLeftMenu("creater", "Производитель")
                                +catalogLeftMenu("type", "Тип")
                                +catalogLeftMenu("price", "Цена")
                                +catalogLeftMenu("height", "Высота")

                        .col-lg-9.col-md-9
                            +catalogCards(4)
                    +pagination
        footer
            include modules/footer
