-
    var pageArray = [
        {page: "Главная", currentPage: false},
        {page: "Контакты", currentPage: true},
    ]

<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" />
    title Контакты
    link(type="text/css", href="main.css")
    <script src="https://api-maps.yandex.ru/2.1/?apikey=2bfa7f4f-cce4-478b-9021-b82a12f20c5f&lang=ru_RU"type="text/javascript" ></script>
body
    include modules/_mixin
    header
        include modules/header
    main
        +breadCrumbs(pageArray)
        section.delivery.delivery-distance
            .container
                .main-title Контакты
            .container
                .row.justify-content-between
                    .col-lg-3
                        .d-flex.flex-column.contacts-block
                            .d-flex.align-items-center
                                .contacts-icon
                                    img(src="img/geo.svg")
                                .contacts-title Адрес офиса:
                            .contacts-text г. Москва, ул. Намёткина, дом 12А
                        .d-flex.flex-column.contacts-block
                            .d-flex.align-items-center
                                .contacts-icon
                                    img(src="img/geo.svg")
                                .contacts-title Адрес офиса:
                            .contacts-text г. Москва, ул. Намёткина, дом 12А
                        .d-flex.flex-column.contacts-block
                            .d-flex.align-items-center
                                .contacts-icon
                                    img(src="img/geo.svg")
                                .contacts-title Адрес офиса:
                            .contacts-text г. Москва, ул. Намёткина, дом 12А
                        .d-flex.flex-column.contacts-block
                            .d-flex.align-items-center
                                .contacts-icon
                                    img(src="img/geo.svg")
                                .contacts-title Адрес офиса:
                            .contacts-text г. Москва, ул. Намёткина, дом 12А

                    .col-lg-8
                        #map
        section.contacts-form
            .container
                .row.justify-content-between
                    .col-lg-6
                        .contacts-img(style="background-image: url('img/contactsImg.png')")
                    .col-lg-5
                        .main-form.d-flex.flex-column.align-items-start
                            .main-form-title Оставить заявку
                            .contacts-form-text Мы перезвоним в течении 15 минут и проконсультируем по вашему заказу
                            input.main-form-input(placeholder="Ваше имя")
                            input.main-form-input(placeholder="E-mail")
                            label.main-form-label.d-flex.align-items-center(for="checkboxMainForm")
                                input.mr-2(type="checkbox" id="checkboxMainForm")
                                div.mainForm-custom-checkbox
                                span Соглашаюсь на обработку персональнных данных
                            button.main-form-btn.black-bg.hover-black-btn Получить прайс



    footer
        include modules/footer
