-
    var pageArray = [
        {page: "Главная", currentPage: false},
        {page: "Доставка", currentPage: true},
    ]

<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Доставка
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    header
        include modules/header
    main.delivery-distance
        +breadCrumbs(pageArray)
        section.delivery.delivery-distance
            .container
                .main-title Доставка и оплата
            .container
                .row.justify-content-center
                    .col-lg-10
                        .delivery-title Доставка
                        .detail-tab-content-text Самым быстрым способом является доставка через курьерские службы типа <span class="bold">EMS, DHL, TNT </span> и т.д. Доставка занимает 3-4 дня, груз привозят по указанному Вами адресу.

                        .detail-tab-content-text При получении заказа (в транспортной компании) необходимо проверить его комплектность и внешний вид! При возникновении претензий необходимо составить акт о дефекте совместно с сотрудниками транспортной компании.

                        .detail-tab-content-text Доставка мебельной фурнитуры и опор хромированных осуществляется в Казань, Нижний Новгород, Самару, Уфу, Пензу, Саратов, Чебоксары, Саранск, Нефтекамск, Екатеринбург, Омск.
                        .detail-tab-content-firstText Условия поставки:
                        ul.detail-tab-delivery-ul
                            li.detail-tab-content-text.align-items-start Поставка в регионы России возможна самовывозом или через транспортные компании согласно тарифов перевозки до Вашего города. Вы производите оплату за услуги транспортной компании по факту получения груза. Доставка Вашего заказа до Московского отделения транспортной компании – БЕСПЛАТНО!
                            li.detail-tab-content-text.align-items-start Доставка фурнитуры и опор для мягкой мебели до транспортной компании в г. Ульяновске - БЕСПЛАТНО (в отличии от других магазинов, где Вы оплачиваете доставку до терминала).
                            li.detail-tab-content-text.align-items-start При поступлении и выдачи мебельной фурнитуры со склада "Фаворит-ФМ" вся продукция проходит контроль по качеству и количеству, затем на складе "Фаворит-ФМ" ваш заказ формируется и упаковывается и нашим транспортом доставляется до московского филиала согласованной с вами транспортной компании.
                        .detail-tab-content-firstText Условия покупки:
                        ul.detail-tab-delivery-ul
                            li.detail-tab-content-text.align-items-start Поставка в регионы России возможна самовывозом или через транспортные компании согласно тарифов перевозки до Вашего города. Вы производите оплату за услуги транспортной компании по факту получения груза. Доставка Вашего заказа до Московского отделения транспортной компании – БЕСПЛАТНО!
                            li.detail-tab-content-text.align-items-start Доставка фурнитуры и опор для мягкой мебели до транспортной компании в г. Ульяновске - БЕСПЛАТНО (в отличии от других магазинов, где Вы оплачиваете доставку до терминала).
                .row.justify-content-center
                    .col-lg-10
                        .delivery-title Оплата
                        .detail-tab-content-text.mb-5 В нашем магазине реализовано большинство вариантов оплаты товара.
                        .detail-tab-content-text.mb-3 1. При доставке курьером так же возможно оплатить наличными и картой. Мы пользуемся услугами курьерской службы СПСР чьи курьеры оснащены мобильными кассовыми аппаратами и терминалами для приема оплаты банковскими картами.
                        .detail-tab-content-text.mb-3 2. При самовывозе  заказа из магазина возможна оплата наличными и картой.
                        .detail-tab-content-text.mb-5 3. Так же мы работаем с платетежным агрегатором platron, во время заказа вы можете выбрать этот вариант, перейти на сайт платрона и оплатить покупку следующими способами
                        .detail-tab-content-text.mb-3 В системе доступны следующие <span class="bold">способы оплаты:</span>
                        ul.detail-tab-delivery-ul.noneBeforeMargin.mb-5
                            li.detail-tab-content-text МИР
                            li.detail-tab-content-text VISA International
                            li.detail-tab-content-text Mastercard Worldwide
                            li.detail-tab-content-text JCB
                        .detail-tab-content-text Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL.



    footer
        include modules/footer
