-
    var pageArray = [
        {page: "Главная", currentPage: false},
        {page: "Каталог", currentPage: false},
        {page: "Мебельные опоры", currentPage: false},
        {page: "Ножка накладная регулируемая для шкафа", currentPage: true}
    ]
-
    var types = [
        {title: "Кол-во в упаковке:", text: "200 Шт."},
        {title: "Разрешена покупка неполной упаковки:", text: "Да"},
        {title: "Диаметр чашки петли:", text: "35"},
        {title: "Монтаж:", text: "Монтаж под прикручивание"},
        {title: "Навеска двери::", text: "Накладная навеска"},
        {title: "Толщина двери (мин.):", text: "15"},
        {title: "Толщина двери (макс.):", text: "24"},
        {title: "Быстрый монтаж, корпус шкафа:", text: "Да"},
        {title: "Толщина двери (макс.) t:", text: "24"},
    ]

<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Детальная страница
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    #menu
        include modules/mobileMenu
    #panel
        header
            include modules/header
        main.detail-mb-140
            +breadCrumbs(pageArray)
            section.detail-info-block
                .container
                    .row
                        .col-lg-7.col-md-7.col-sm-12
                            +detailPhotoBlock

                        .col-lg-5.col-md-5.col-sm-12
                            .detail-title Ножка накладная регулируемая для шкафа
                            .detail-text.detail-article Артикул: 32967
                            .d-flex.mb-5.flex-wrap
                                .d-flex.flex-column.detail-text-descr
                                    .d-flex.align-items-center.mb-3
                                        .detail-text.mr-3 Материал:
                                        .detail-text-type Mеталл
                                    .d-flex.align-items-center.mb-3
                                        .detail-text.mr-3 Серия:
                                        .detail-text-type ANGLE
                                .d-flex.flex-column
                                    .d-flex.align-items-center.mb-3
                                        .detail-text.mr-3 Цвет товара:
                                        .detail-text-type серый
                                    .d-flex.align-items-center.mb-3
                                        .detail-text.mr-3 Производитель:
                                        .detail-text-type Росcия
                            .d-flex.flex-column.detail-price-block
                                .detail-sale 169 руб.
                                .d-flex.align-items-center
                                    .detail-title.mr-3.mb-0 148 руб.
                                    .detail-text ШТ.
                            .detail-btn.hover-black-btn Оставить заявку
            section.detail-description-block
                .container-770
                    ul.nav.nav-tabs.detail-tabs.d-flex.justify-content-around
                       li.nav-item.detail-tab
                           a.detail-tab-link.nav-link.active(data-toggle='tab' href='#descr') Описание
                       li.nav-item.detail-tab
                           a.detail-tab-link.nav-link(data-toggle='tab' href='#types') Характеристики
                       li.nav-item.detail-tab
                           a.detail-tab-link.nav-link(data-toggle='tab' href='#delivery')  Доставка и оплата
                    .tab-content.detail-tab-content
                        #descr.container.tab-pane.active
                            .row.justify-content-center
                                .col-lg-12
                                    .detail-tab-content-block
                                        span.detail-tab-content-text <span class="bold">Применение:</span> для соединения различных элементов мебели между собой, а также для крепления полок и корпуса к стене
                                    .detail-tab-content-block
                                        span.detail-tab-content-text <span class="bold">Комплектация:</span>  металлический уголок, пластиковая накладка
                                    .detail-tab-content-block
                                        span.detail-tab-content-text Данные опоры производятся итальянской Компанией "Camar", являющейся известным игроком на рынке мебельной фурнитуры.
                                    .detail-tab-content-block
                                        span.detail-tab-content-text Монтаж опоры осуществляется при помощи винта M10x1 В случае если напольное покрытие не является идеально ровным это можно исправить при помощи регулировки вплоть до +20 мм по высоте.
                                    .detail-tab-content-firstText Преимущества:
                                    ul.detail-tab-ul
                                        li.detail-tab-content-text 1. Сочетает прочность металлического уголка и высокие декоративные свойства пластика (широкий ассортимент цветов позволяет уголку гармонично сочетаться с любой плитой);
                                        li.detail-tab-content-text 2. Металлическая основа имеет специально расположенные рёбра жёсткости для увеличения прочности конструкции;
                                        li.detail-tab-content-text 3. Два размера уголка позволяют использовать их в разных элементах мебели без потери общей стилистики
                                        li.detail-tab-content-text 4. Ровная гладкая поверхность пластикового элемента (без узоров, линий и т. п.).
                        #types.container.tab-pane.fade
                            .detail-tab-type
                                for inner in types
                                    .row.detail-tab-type-row
                                        .col-lg-7.col-md-7.col-sm-7
                                            .detail-tab-content-firstText.mb-0= inner.title
                                        .col-lg-5.col-md-5.col-sm-5
                                            .detail-tab-content-text= inner.text

                        #delivery.container.tab-pane.fade
                            .detail-tab-delivery
                                .detail-tab-content-firstText.text-center Доставка
                                span.d-block.detail-tab-content-text.mb-5 Самым быстрым способом является доставка через курьерские службы типа<span class="bold"> EMS, DHL, TNT </span>и т.д. Доставка занимает 3-4 дня, груз привозят по указанному Вами адресу.

                                span.d-block.detail-tab-content-text.mb-5 Доставка транспортными компаниями занимает <span class="bold"> примерно неделю </span>, в зависимости от удаленности Вашего региона. Грузоперевозчика Вы можете выбрать сами и сказать нам, с кем отправлять груз, или мы подберем его для Вас исходя из нашего опыта. Возможна доставка "до двери".

                                span.d-block.detail-tab-content-text.mb-5 Доставка мебельной фурнитуры и опор хромированных осуществляется в <span class="bold"> Казань, Нижний Новгород, Самару, Уфу, Пензу, Саратов, Чебоксары, Саранск, Нефтекамск, Екатеринбург, Омск.</span>

                                .detail-tab-content-firstText.text-center Доставка
                                span.d-block.detail-tab-content-text.mb-5 Для получения информации о возможных способах оплаты <span class="bold"> обратитесь к сотрудникам компании,</span> либо воспользуйтесь услугами интернет магазина, оформите заказ и сотрудники компании свяжутся с Вами самостоятельно.
                                span.d-block.detail-tab-content-text.mb-5 В случае возможности оплаты банковской картой оплата происходит через <span class="bold">ПАО СБЕРБАНК с использованием банковских карт </span > следующих платёжных систем:
                                ul.detail-tab-delivery-ul
                                    li.detail-tab-content-text МИР
                                    li.detail-tab-content-text VISA International
                                    li.detail-tab-content-text Mastercard Worldwide
                                    li.detail-tab-content-text JCB
                                span.d-block.detail-tab-content-text.mb-5 <span class="bold">Для оплаты</span> (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL.

            +carousel("owl-carousel")

        footer
            include modules/footer
