-
    var pageArray = [
        {page: "Главная", currentPage: false},
        {page: "Направления", currentPage: true}
    ]


<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Направление
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    #menu
        include modules/mobileMenu
    #panel
        header
            include modules/header
        main
            +breadCrumbs(pageArray)
            section
                .container
                    .main-title Направления
                .container
                    .row.main-visit-card-block.justify-content-center
                        +visitItems


        footer
            include modules/footer
