<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title aes-g
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    li
        a(href="visitPage.html") Визитная страничка
    li
        a(href="direction.html") Направление
    li
        a(href="spec.html") Спец предложения
    li
        a(href="catalog.html") Каталог
    li
        a(href="resultRearch.html") Результаты поиска
    li
        a(href="detailPage.html") Детальная страница
    li
        a(href="404.html") 404
    li
        a(href="action.html") Акция
    li
        a(href="delivery.html") Доставка
    li
        a(href="contacts.html") Контакты
    li
        a(href="about.html") О компании
    li
        button(data-toggle="modal" data-target="#modalForm") Форма модальная
    li
        button(data-toggle="modal" data-target="#modalSuccess") Успешно
    include popupForm
    include popupSuccess

