.modal.modal-fade#modalForm
    .modal-dialog-centered
        .nexus-modal.nexus-modal-form.modal-content.position-relative
            .close(data-dismiss="modal")
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 1L1 15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15 15L1 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>

            .nexus-modal-bg(style="background-image: url('img/modalFormBg.png')")
            .modal-body.p-0

                .row
                    .col-lg-6
                        .main-form.d-flex.flex-column.align-items-start
                            .main-form-title.w-100 Оставить заявку
                            .contacts-form-text Мы перезвоним в течении 15 минут и проконсультируем по вашему заказу
                            input.main-form-input(placeholder="Ваше имя")
                            input.main-form-input(placeholder="E-mail")
                            label.main-form-label.d-flex.align-items-center(for="checkboxMainForm")
                                input.mr-2(type="checkbox" id="checkboxMainForm")
                                div.mainForm-custom-checkbox
                                span Соглашаюсь на обработку персональнных данных
                            button.main-form-btn.black-bg.w-100 Получить прайс
