.modal.modal-fade#modalSuccess
    .modal-dialog-centered
        .nexus-modal.nexus-modal-success.modal-content.position-relative
            .close(data-dismiss="modal")
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.7">
                <path d="M15 1L1 15" stroke="#1B1717" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15 15L1 1" stroke="#1B1717" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                </svg>

            .modal-body.p-0
                .d-flex.flex-column.align-items-center
                    <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="60" cy="60" r="60" fill="#F7F7F7"/>
                    <path d="M82 45L52.6667 75L38 60.0007" stroke="#999999" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    .nexus-modal-title Спасибо за заявку!
                    .nexus-modal-text Наш менеджер свяжется с Вами в ближайшее время!

