<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Каталог
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    header.mb-60
        include modules/header
    main
        section
            .container
                .main-title.text-left Результаты поиска по «пуговицы»
            .container
                .row.catalog
                    +catalogCards(3)
                +pagination
    footer
        include modules/footer
