-
    var pageArray = [
        {page: "Главная", currentPage: false},
        {page: "Спец предложения", currentPage: true}
    ]


<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
    title Специльные предложения
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    #menu
        include modules/mobileMenu
    #panel
        header
            include modules/header
        main
            +breadCrumbs(pageArray)
            section
                .container
                    .main-title Спец предложения
                .container
                    .row
                        +specItems
                    .d-flex.justify-content-center.main-visit-card-distance
                        a(href="#").main-visit-card-btn.nexus-btn-border.hover-border-btn Показать все


        footer
            include modules/footer
