<!DOCTYPE html>
html(lang="ru")
head
    meta(charset="UTF-8")
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    title Визитная страничка
    link(type="text/css", href="main.css")
body
    include modules/_mixin
    .order-call
        span Заказать звонок
    #menu
        include modules/mobileMenu
    #panel
        header
            include modules/header
        main
            section.main-banner(style="background-image: url('img/banerMainPage.png')")
                .container
                    .main-banner-logo
                        img(src="img/logoBanner.svg")
                    a(href="#").main-banner-btn.hover-white-btn перейти в каталог
            section
                .container
                    .main-title Направления
                .container
                    .row.main-visit-card-block.justify-content-center
                        +visitItems
                    .d-flex.justify-content-center.main-visit-card-distance
                        a(href="#").main-visit-card-btn.nexus-btn-border.hover-border-btn Показать все
            section.main-mb-100.main-banner-form(style="background-image: url('img/bannerMainForm.png')")
                .black-bg
                .container
                    .row.justify-content-lg-end.justify-content-center
                        .col-lg-5.col-md-10
                            .main-form.d-flex.flex-column.align-items-center.align-items-md-start
                                .main-form-title Получите прайс на нашу продукцию
                                input.main-form-input(placeholder="Ваше имя")
                                input.main-form-input(placeholder="E-mail")
                                label.main-form-label.d-flex.align-items-center(for="checkboxMainForm")
                                    input.mr-2(type="checkbox" id="checkboxMainForm")
                                    div.mainForm-custom-checkbox
                                    span Соглашаюсь на обработку персональнных данных
                                button.main-form-btn.hover-white-btn  Получить прайс
            section.main-mb-100
                .container
                    .main-title Спец предложения
                .container
                    .row.justify-content-center
                        +specItems
            section.main-nexus.d-flex
                img(src="img/nexusMain.svg")
                img(src="img/nexusMain.svg")
                img(src="img/nexusMain.svg")
                img(src="img/nexusMain.svg")
                img(src="img/nexusMain.svg")
            section.main-description-dark-bg
                .container
                    .row.justify-content-md-between.justify-content-center
                        .col-lg-6.col-md-6
                            .main-description-text-bold Nexus - мировой лидер по производству

                            .main-description-img(style="background-image: url('img/imgMainDescr.png')")
                        .col-lg-5.col-md-6
                            .main-description-text-normal Качество, функциональность и дизайн мебельной фурнитуры напрямую влияют на стоимость мебели для конечного потребителя, именно поэтому индустрия мебельной фурнитуры является вдохновителем многих идей для архитектурной и мебельной промышленности. </br> Мы разрабатываем, производим и поставляем мебельную фурнитуру в более чем 160 стран мира.
                            a(href="#").main-description-link.d-flex.align-items-center
                                span.mr-2 Узнать больше
                                <svg width="17" height="10" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.4243 5.42427C16.6586 5.18995 16.6586 4.81005 16.4243 4.57574L12.6059 0.75736C12.3716 0.523046 11.9917 0.523046 11.7574 0.75736C11.523 0.991675 11.523 1.37157 11.7574 1.60589L15.1515 5L11.7574 8.39411C11.523 8.62843 11.523 9.00833 11.7574 9.24264C11.9917 9.47696 12.3716 9.47696 12.6059 9.24264L16.4243 5.42427ZM-5.24537e-08 5.6L16 5.6L16 4.4L5.24537e-08 4.4L-5.24537e-08 5.6Z" fill="white"/>
                                </svg>







        footer
            include modules/footer
