.about {
  &-avatar {
    &-title {
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      /* identical to box height, or 156% */

      font-feature-settings: 'liga' off;

      /* 1 */

      color: #1B1717;
    }
  }

  &-info {
    padding-top: 74px;
    padding-bottom: 56px  ;
    &-point {
      position: absolute;
      left: 0;
      top: 10px
    }
    &-img {
      height: 100%;
      border-radius: 90px 3px;
    }
    &-block {
      padding: 40px 0;
      position: relative;
    }
    &-avatar {
      margin-right: 18px;

    }
    &-text {
      padding-left: 30px;
      font-weight: bold;
      font-size: 24px;
      line-height: 34px;
      margin-bottom: 43px;
      /* or 142% */

      font-feature-settings: 'liga' off;

      color: #18191F;
    }
  }
  &-right-block {
    max-width: 474px;
    position: sticky;
    top: 0;
  }
  &-count {
    font-weight: bold;
    font-size: 140px;
    line-height: 100px;
    /* identical to box height, or 71% */


    /* 5 */

    color: #FFFFFF;

    opacity: 0.08;
    position: absolute;
    z-index: 99;
    top: -16%;
    left: 0;

  }
  &-item {
    margin-bottom: 98px;
    position: relative;
    &-title {
      font-weight: bold;
      font-size: 24px;
      line-height: 34px;
      z-index: 999;
      /* or 142% */

      display: flex;
      align-items: center;

      /* 5 */

      color: #FFFFFF;
      margin-bottom: 10px;
    }
    &-text {

      z-index: 999;

      font-size: 16px;
      line-height: 28px;
      /* or 175% */


      /* 5 */

      color: #FFFFFF;

    }
  }
  &-bg-black {
    background-color: black;
  }
  &-img {
    padding-bottom: 450px;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    &-bg {
      padding-bottom: 85px;
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(5,5,5,0) 50%, rgba(0,0,0,1) 50%);
    }
    @media (max-width: 567px) {
      padding-bottom: 180px;
      margin: 20px 0;
      background-size: cover;
    }
  }
  &-text {
    font-size: 16px;
    line-height: 28px;
    /* or 175% */


    color: #211C1C;
  }
}
