.action {
  &-btn {
    a {
      max-width: 100%;
    }
  }
  &-distance {
    margin-bottom: 140px;
    &-block {
      margin-bottom: 44px;
    }
  }
  &-date {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 40px;
    /* identical to box height, or 122% */


    /* 4 */

    color: #999999;
  }
  &-img {
    margin-bottom: 20px;
    border-radius: 90px 3px;
    width: 100%;
    img {

    }
  }
  &-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 16px;

    /* 1 */

    color: #1B1717;
    @media(max-width: 567px) {
      font-size: 30px;
      line-height: 32px;
    }
  }
}
.black-bg {
  a {
    color: white;
  }
  color: white;
  background: #1B1717;
  border-radius: 3px;

}
