.catalog {
  margin-bottom: 50px;
  &-pagination {
    margin-bottom: 150px;
    &-block {
      @media(max-width: 768px) {
        margin-bottom: 20px;
      }
    }
    @media(max-width: 768px) {
      margin-bottom: 100px;
    }
    &-arrow {
      height: 36px;
      width: 36px;
      align-items: center;
      justify-content: center;
      display: flex;
      &:hover {
        background: #F7F7F7;
        border-radius: 2px;
        cursor: pointer;
      }
    }
    &-btn {
      &:nth-child(1) {
        margin-left: 20px;
      }
      &:last-child{
        margin-right: 20px;
      }
      span {
        border-radius: 2px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #1B1717;
      }
        display: flex;
        height: 36px;
        width: 36px;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
      margin-left: 20px;
      &:hover {
        background: #F7F7F7;
        border-radius: 2px;
        cursor: pointer;
      }
      &.active {
        background: #F7F7F7;
        border-radius: 2px;
        span {
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    &-text {
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      display: flex;
      align-items: center;

      /* 1 */

      color: #1B1717;
    }
  }
  &-leftMenu {
    &-text {
      font-size: 14px;
      line-height: 20px;
      color: #1B1717;
      margin-left: 10px;
    }
    &-price {
      font-size: 14px;
      line-height: 20px;
      color: gray;
      margin-left: 5px;
    }
    &-block {
      border-bottom: 1px solid #F0F0F2;
      margin-bottom: 20px;
    }
    &-item {
      margin-bottom: 10px;
    }

    &-btn {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      line-height: 21px;

      background-color: transparent;
      border: none;
      align-items: center;
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      span {
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height, or 131% */


        /* 1 */

        color: #1B1717;
      }
      svg {
        transform: rotate(90deg);
      }
    }
  }
  &-img {
    margin-bottom: 48px;
    text-align: center;

  }
  &-card  {
    padding: 85px 26px 26px 26px;
    margin-bottom: 23px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    }
  }
  &-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1B1717;
    margin-bottom: 10px;
  }
  &-article {
    font-size: 12px;
    line-height: 18px;
    color: rgba(33,28,28,0.5);
    margin-bottom: 22px;
  }
  &-price {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1B1717;
  }
}
