.contacts {
  &-form {
    background: #F4F4F4;
    padding: 63px 0;
    &-text {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 40px;
      /* or 144% */


      /* Текст */

      color: #211C1C;
    }
    .main-form-title {
      color: #1B1717;
    }
    .main-form-label {
      margin-bottom: 50px;
      span {
        color: #1B1717;
      }

    }
    & input{
      border-bottom: 1px solid #1B1717;
      color: #1B1717;
      &::placeholder{
        color: #1B1717;

        opacity: 0.4;
      }
    }
  }
  &-img {
    height: 100%;
    border-radius: 90px 3px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-block {
    margin-bottom: 40px;
  }
  &-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;

    /* Текст */

    color: #211C1C;
    margin-left: 8px;
  }
  &-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Текст */

    color: #211C1C;
  }
}
#map {
  height: 400px;
  border-radius: 90px 3px;
  overflow: hidden;
  //ymaps {
  //  border-radius: 90px 3px;
  //}
}
