.delivery {
  &-distance {
    margin-bottom: 140px;
  }
  &-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    /* identical to box height, or 129% */

    text-align: center;

    margin-bottom: 30px;

    color: #1B1717;
  }
  .detail-tab-delivery-ul {
    li {
      &:before {
        margin-top: 10px;
        min-height: 6px;
        min-width: 6px;
      }
    }

    &.noneBeforeMargin {
      li {
        &:before {
          margin-top: 0px;
          min-height: 6px;
          min-width: 6px;
        }
      }
    }
  }
}
