.container-770 {
  max-width: 770px;
  padding: 0 15px;
  margin: 0 auto;
}
.tab-pane {
  padding: 0;
}

.detail {
  &-mb-140 {
    margin-bottom: 140px;
  }
  &-tab {
    @media (max-width: 567px) {
      margin-bottom: 15px;
    }
    &-delivery {
      &-ul {
        list-style: none;
        padding-left: 20px;
        li {
          margin-bottom: 40px;
          display: flex;
          align-items: center;
          &:before {
            content: "";
            height: 6px;
            border-radius: 6px;
            width: 6px;
            background-color: black;
            display: block;
            margin-right: 5px;
          }
        }
      }
    }
    &-type {
      &-row {
        padding: 16px 24px;
        border-radius: 3px;
        &:nth-child(2n+1) {
          background: #F7F7F7;

        }
      }
    }
    &-ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 20px;
      }
    }
    &-content {
      margin-top: 54px;
      &-block {
        margin-bottom: 24px;
      }
      &-firstText {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 16px;
        line-height: 28px;
        /* or 175% */


        color: #000000;

      }
      &-text {
        font-size: 16px;
        line-height: 28px;
        /* or 175% */


        color: #000000;
        &>span.bold {
          font-weight: bold;
        }
      }
    }
    &-link {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      /* identical to box height, or 156% */


      /* 1 */

      color: #1B1717;
      &:hover {
        border: none;
        text-decoration: none;
      }
      &.active {
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        /* identical to box height, or 156% */


        /* 1 */

        color: #1B1717;
        border: none !important;
        border-bottom: 4px solid #1B1717;
      }
    }
  }
  &-info-block {
    margin-bottom: 100px;
  }
  &-description-block {
    margin-bottom: 120px;
  }
  &-img {
    &-big {
      border: 1.5px solid #F2F2F2;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 20px;
      justify-content: center;
      min-height: 378px;
      img {
        height: auto;
        width: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
    &-small {
      &-block {
        max-height: 526px;
        overflow: auto;
        @media (max-width: 768px) {
          max-width: 100%;
          max-height: none;
          display: flex !important;
         flex-direction: row !important;
          margin-bottom: 20px;
        }
      }
      padding: 5px;
      margin-bottom: 14px;
      border: 1.5px solid #F2F2F2;
      box-sizing: border-box;
      border-radius: 3px;
      width: 76px;
      min-height: 76px;
      align-items: center;
      /* height: 100%; */
      justify-content: center;
      display: flex;
      @media(max-width: 768px) {
       min-width: 76px;
      }
      &.active {
        border: 1.5px solid #1B1717;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-price-block {
    margin-bottom: 40px;
  }
  &-sale{
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    text-decoration-line: line-through;

    /* 4 */

    color: #999999;
  }
  &-article {
    margin-bottom: 36px;
  }
  &-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    color: #211C1C;
    margin-bottom: 24px;
  }
  &-text {
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    &-descr {
      margin-right: 70px;
    }
    &-type {
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color: #1B1717;
    }
  }
  &-btn {
    max-width: 375px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    padding: 20px 112px;
    background: #1B1717;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    @media (max-width: 567px) {
      padding: 20px 50px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
.carousel-item {
  &-card {
    position: relative;
    background: #F4F4F4;
    padding: 120px 18px 49px 18px;
    border-radius: 0 90px 0 90px;
    margin-top: 100px;
    margin-bottom: 40px;
    &:hover {
      cursor: pointer;
    }
  }
  &-img {
    position: absolute;
    top: -45px
  }

}

.nexus-carousel-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    background-color: transparent;
    border: none
  }
}
.owl-carousel {
  .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .owl-dot {
    &.active {
      span {
        background: #1B1717 !important;
        opacity: 0.7;
      }

    }
  }
}
