.footer {
  padding: 60px 0 24px 0;
  background: #1B1717;
  &-distance {
    &-sm {
      margin-right: 37px;
      @media (max-width: 567px) {
        margin-right: 0px;
      }
    }
    &-lg {
      margin-right: 90px;
      @media (max-width: 567px) {
        margin-right: 0px;
      }
    }
  }
  &-text {
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    color: #FFFFFF;

    opacity: 0.5;
    display: block;
    @media (max-width: 567px) {
      text-align: center;
    }
  }
  &-copy-right {

  }
  &-border {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 42px;
    margin-bottom: 24px;
  }
  &-title {
    span {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 28px;
      text-transform: uppercase;

      color: #FFFFFF;
    }

  }
  &-link {
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 14px;
    line-height: 32px;
    &:hover {
      color: white;
      opacity: 1;
    }
    &-href {
      margin-bottom: 10px;
      svg {
        fill: rgba(255,255,255,0.5);
        path {
          stroke: rgba(255,255,255,0.5);
        }

      }
    }
  }
}
