.header {
  padding: 18px 0;
  border-bottom: 1px solid #F0F0F2;
  @media (max-width: 768px) {
    padding: 8px 0;
    border-bottom: 1px solid #F0F0F2;
  }
  &-line {
    border-bottom: 1px solid #F0F0F2;
    padding-bottom: 19px;
    margin-bottom: 19px;
    @media (max-width: 768px) {
      padding-bottom: 0;
      margin-bottom: 0;
      border: none;
    }
  }
  &-search {
    max-width: 440px;
    width: 100%;
    @media (max-width: 992px) {
      width: auto;
    }
  }
  &-geo {
    span {
      font-size: 14px;
      line-height: 14px;
      color: #1B1717;
    }
  }
  &-number {
    span {
      font-size: 14px;
      line-height: 14px;
      color: #1B1717;
    }
  }
}
.nav {
  &-ul {
      margin: 0;
  }
  &-li {

  }
  &-link {
    padding: 0;
    span {
      letter-spacing: 0.02em;
      font-size: 14px;
      color: #1B1717;
      line-height: 14px;
    }
  }
}
.search{
  &-block {
    position: absolute;
    max-height: 380px;
    z-index: 9999999;
    top: 45px;
    max-width: 374px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    @media(max-width: 992px) {
      max-width: 100%;
    }
    &-resultTitle {
      background-color: white;
      padding: 20px;
      &:hover {
        cursor: pointer;
        span {
          text-decoration: underline;
        }
      }
      span {
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        margin-right: 10px;
        text-align: left;
        /* identical to box height, or 133% */

        display: flex;
        align-items: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        /* 1 */

        color: #1B1717;
      }
    }
    &-item {
      padding: 14px;
      background-color: white;
      border-bottom: 1px solid #F0F0F2;
    }
    &-img {
      height: 53px;
      width: 64px;
      margin-right: 16px;
      img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-price {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      white-space: nowrap;
      /* identical to box height, or 150% */


      /* 1 */

      color: #1B1717;
    }
    &-title{
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      max-width: 210px;
      /* or 143% */


      /* 1 */

      color: #1B1717;
    }
  }
}

.mobile-search-block {
  width: calc(100% - 20px);
  left: 10px;
  top: 82px;
  z-index: 99999999;
  .close-search-block {
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
    border-radius: 3px;

    background-color: white;
    margin-bottom: 8px;
    .nexus-input {
      min-height: 40px;
      background: #FFFFFF;
      /* shadow */
      border: none;


    }

    svg {
      border-left: 1px solid #F0F0F2;
      padding: 10px;
      background-color: white;
      width: 40px;
      height: 40px;

    }
  }
}

.btn-mobile-toggle {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  .last-line {
    transition: all 0.3s ease-in-out;
    transform: translateX(10px);
  }
}
.slideout-open {
  .btn-mobile-toggle {
    .last-line {
      transition: all 0.3s ease-in-out;
      transform: translateX(0);
    }
  }
}
