body {
  font-family: "Montserrat";
  font-size: 16px;
}
.mb-60 {
  margin-bottom: 60px;
}
.nexus {
  &-modal {
    max-width: 964px;
    padding: 75px;
    margin: 0 auto;
    @media(max-width: 567px) {
      padding: 35px;
    }
    svg {
      @media(max-width: 567px) {
        width: 80px;
      }
    }
    &-success {
      max-width: 534px;
    }
    &-title {
      font-weight: bold;
      font-size: 36px;
      line-height: 48px;
      /* identical to box height, or 133% */

      display: flex;
      align-items: center;

      /* 1 */

      color: #1B1717;
      margin-bottom: 12px;
      @media(max-width: 567px) {
        font-size: 25px;
        line-height: 25px;
      }
    }
    &-text {
      font-size: 18px;
      line-height: 26px;
      /* or 144% */

      text-align: center;

      /* Текст */

      color: #211C1C;
      max-width: 343px;
      @media(max-width: 567px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .close {
      position: absolute;
      right: 20px;
      z-index: 99999;
      top: 20px;
      svg {
        path {
          @media(max-width: 567px) {
            stroke: black;
          }
        }

      }
    }
    &-bg {
      height: 100%;
      max-width: 420px;
      /* padding: 100%; */
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;
      @media (max-width: 567px) {
        background-image: none !important;
      }
    }
    &-form {
      .main-form-title {
        color: #1B1717;
      }
      .contacts-form-text {
        color: #1B1717;
      }
      .main-form-input {
        color: #1B1717;
        border-color: #1B1717;
        &::placeholder {
          color: #1B1717;
        }
      }
      .main-form-label {
        span {
          color: #1B1717;
        }
      }
    }
  }
  &-breadCrumbs {

    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    margin-top: 30px;
   flex-wrap: wrap;
    li {
      &.active {
        a {
          color: #999999;
        }
      }
      a {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        /* identical to box height, or 150% */

        display: flex;
        align-items: center;

        /* 1 */

        color: #1B1717;
      }
    }
  }
  &-btn {
    &-border {
      text-transform: uppercase;
      color: #1B1717;
      padding: 6px 14px;
      border: 1px solid #1B1717;
      border-radius: 3px;
      a {
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        color: #1B1717;
      }
    }
    &-icon {
      background: #1B1717;
      border-radius: 0px 3px 3px 0px;
      padding: 7px 24px;
      max-height: 37px;

      img {
        width: 18px;
        height: 18px;
      }
      @media (max-width: 567px) {
        padding: 0;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
      }
    }
  }
  &-input {
    border: 1px solid #1B1717;
    box-sizing: border-box;
    border-radius: 3px 0px 0px 3px;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
    color: #000;
    max-height: 37px;
    outline: none;

    &::placeholder {
      font-size: 12px;
      line-height: 14px;
      color: #999999;
    }
  }
}

.mobile-menu {
  padding: 32px 0 30px 0 ;
  height: calc(100vh - 56px);
  .nav-ul {
    height: 100%;
    border-bottom: 1px solid #F0F0F2;
    padding-bottom: 42px;
    li {
      //margin-bottom: 32px;
    }
  }
  .header-geo {
    margin: 32px 0;
  }
  .header-number {
    margin-bottom: 42px;
  }
}

.hover-white-btn {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  &:active {
    background: #6C6B6B;
  }
  &:hover {
    text-decoration: none;
    color:#1B1717;
    background: #EAEAEA;
  }
}

.hover-black-btn {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  &:active {
    background: #6C6B6B;
  }
  &:hover {
    cursor: pointer;
    text-decoration: none;
    color:white;
    background: #565252;
    a {
      color: white;
      text-decoration: none;
      border-color: transparent;
    }
  }
}

.hover-border-btn {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;

  &:active {
    background: #e50000;
  }
  &:hover {
    text-decoration: none;
    color:#FFFFFF;
    background: #000000;
    a {
      color: white;
      text-decoration: none;
    }

  }
}
