.notFound {
  margin: 20px 0;
  a {
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
  &-title {
    line-height: 1.2;
    font-weight: 600;
    font-size: 170px;
    /* or 25% */

    text-transform: uppercase;

    /* 1 */

    color: #1B1717;
  }
  &-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */
    letter-spacing: 0.02em;

    /* Текст */

    color: #211C1C;
  }
}
.notFound-page {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
