body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    transition: all 0.3s ease-in-out;
    margin-top: 56px;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
    transform: translate(-100vw);
}

.slideout-panel {

    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #FFF; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
    transform: translateX(0) !important;
}

.slideout-open .slideout-menu {
    transform: translateX(0) !important;
    z-index: 9999;
    background: white;
}
