.main{
  &-mb-100 {
    margin-bottom: 100px;
  }
  &-description {
    &-link {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
    &-img {
      width: 100%;
      padding-bottom: 327px;
      background-size: contain;
      background-repeat: no-repeat;
      @media (max-width: 768px) {
        position: relative;
        margin-bottom: 20px;
      }
      @media (max-width: 567px) {
        position: relative;
        padding-bottom: 200px;
      }
    }
    &-text {
      &-bold {
        font-weight: bold;
        font-size: 22px;
        line-height: 34px;
        margin-bottom: 20px;




        color: #FFFFFF;
      }
      &-normal {
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 50px;



        color: #FFFFFF;
      }

    }
    &-dark-bg {
      background: #1B1717;
      padding: 100px 0 60px 0;
      @media (max-width:768px) {
        margin-bottom: 0px;
      }
    }
  }
  &-nexus {
    overflow: hidden;
    background: #F4F4F4;
    justify-content: center;
    img {
      width: 298px;
      margin: 25px 50px;
    }
  }
  &-spec {
    &-img {
      height: 255px;
    }
    &-date {
      font-size: 14px;
      line-height: 22px;
      /* identical to box height, or 157% */


      /* 1 */

      color: rgba(27,23,23,0.6);
      margin-bottom: 10px;
    }
    &-text {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */


      /* 1 */

      color: #1B1717;
    }
    &-block {
      border-radius: 90px 3px 3px 3px;
      margin-bottom: 30px;
      transition: all 0.3s ease-in-out;
      &:hover {
        text-decoration: none;
        box-shadow: 0px 0px 6px 1px rgba(0,0,0, 0.50);
      }
      &-text {
        padding: 20px 25px;
        background: #F7F7F7;
      }
    }
  }
  &-banner-form{
    padding: 76px 0;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    background-size: 50%;
    z-index: 999;
    @media (max-width: 1440px) {
      background-size: cover;
    }
    @media (max-width: 992px) {
      background-image: none;
    }
    .black-bg {
      position: absolute;
      width: 50%;
      height: 100%;
      right: 0;
      background-color: #1d1919;
      top: 0;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
  }
  &-form {
    &-btn {
      background: #FFFFFF;
      border-radius: 3px;
      padding: 20px 60px;
      border: none;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #1B1717;
    }
    &-label {
      margin-bottom: 20px;
      span {
        font-size: 14px;
        line-height: 14px;
        /* identical to box height */

        text-decoration-line: underline;

        /* 5 */

        color: #FFFFFF;
      }

    }
    &-input {
      /* 5 */
      padding: 20px;
      border: none;
      background-color: transparent;
      color: #FFFFFF;
      outline: none;
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255,0.4);
      margin-bottom: 20px;
      &::placeholder{
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;

        opacity: 0.4;
      }
    }
    &-title {
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 20px;
      /* or 120% */



      /* 5 */

      color: #FFFFFF;
      @media (max-width: 567px) {
        font-size: 30px;
        line-height: 30px;
      }
    }
  }
  &-title {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #1B1717;
    text-align: center;
    @media (max-width: 567px) {
      font-size: 30px;
      line-height: 30px;
    }
  }
  &-visit-card{
    border: 1px solid #969494;
    @media (max-width: 567px) {
      margin-bottom: 40px;
      padding-bottom: 39px;
    }

    &-distance {
      margin-bottom: 100px;
      @media (max-width: 567px) {
        margin-bottom: 80px;
      }
    }
    &-btn {
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      /* identical to box height, or 114% */
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 18px 0;
      max-width: 237px;
      width:  100%;

      /* 1 */

      color: #1B1717;
    }
    &-block {
      margin-top: 118px;
      @media (max-width: 567px) {
        margin-top: 50px;
      }
    }
    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */


      /* 1 */

      color: #1B1717;
    }
    background: white;
    margin-bottom: 118px;
    padding-bottom: 50px;
    border-radius: 0px 70px 0px 70px;
    &:hover {
      text-decoration: none;
    }


    &-img {

      img{ max-height: 230px;

        @media (max-width: 567px) {
          max-width: 150px;
        }
      }
      @media (max-width: 567px) {
       max-width: 150px;
      }
    }
    &-title {
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 32px;
      max-width: 430px;
      min-height: 72px;
      /* or 129% */

      text-align: center;

      /* 1 */

      color: #1B1717;
      @media (max-width: 567px) {
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 16px;
      }
    }
  }
  &-banner {
    padding-top: 152px;
    padding-bottom: 152px;
    margin-bottom: 90px;
    background-size: cover;
    @media (max-width: 768px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
    @media (max-width: 567px) {
      padding-top: 70px;
      padding-bottom: 70px;
      background-position: -50vw;
      margin-bottom: 70px;
    }
    &-logo {
      margin-bottom: 60px;
      max-width: 567px;
      @media (max-width: 567px) {
        max-width: 320px;
      }
      img {
        width: 100%;
      }
    }
    &-btn {
      background: #FFFFFF;
      border-radius: 3px;
      padding: 18px 60px;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #1B1717;
      text-transform: uppercase;
      @media (max-width: 567px) {
        padding: 18px 30px;
      }
    }
  }
}

.order-call {
  position: fixed;
  right: 20px;
  top: 50%;
  z-index: 9999;
  transform: rotate(-90deg);
  @media (max-width: 992px) {
    right: -44px;
  }
  @media (max-width: 567px) {
    display: none;
  }
  span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-decoration-line: underline;

    /* 1 */

    color: #1B1717;


  }
}
